/* =====================================
  Bootstrap media queries
======================================*/

/* extra large devices (laptop & desktop) */

@media (min-width:1200px) {
  /* search */
  .verse-reaction a {
    font-size: 22px;
  }

  #verse-left img {
    width: 75px;
  }

  #verse-rhymer,
  #verse-body {
    margin-left: 5px;
  }

  #verse-rhymer h5 {
    font-size: 20px;
  }

  #verse-rhymer h6 {
    font-size: 15px;
  }

  #verse-body p {
    font-size: 22px;
  }
}

/* large devices (laptop & desktop) */

@media (min-width: 992px) and (max-width: 1199px) {
  #home-heading {
    margin: 0 10px 60px 10px;
  }

  #home-heading h1 {
    font-size: 60px;
  }

  #home-text p {
    font-size: 15px;
  }

  /* search */
  .verse-reaction a {
    font-size: 22px;
  }

  #verse-left img {
    width: 75px;
  }

  #verse-rhymer,
  #verse-body {
    margin-left: 5px;
  }

  #verse-rhymer h5 {
    font-size: 20px;
  }

  #verse-rhymer h6 {
    font-size: 15px;
  }

  #verse-body p {
    font-size: 22px;
  }
}

/* medium devices (tablets) */

@media (min-width: 768px) and (max-width: 991px) {
  /* Navbar */
  .site-new-wrapper {
    padding: 0;
  }
  ul.navbar-nav {
    background: #fff;
    opacity: 0.9;
    padding: 10px 0 30px 0;
  }
  ul.navbar-nav>li>a {
    font-size: 18px;
    margin: 10px 0 10px 30px;
    color: #212226;
  }

  /* home */

  #home-heading h1 {
    font-size: 41px;
  }
  #home-text p {
    font-size: 11px;
  }

  /* generic */
  .btn-general {
    padding: 8px 35px;
    font-size: 10px;
  }

  /* search */
  #verse-rhymer h5 {
    font-size: 18px;
  }

  #verse-rhymer h6 {
    font-size: 13px;
  }

  #verse-body p {
    font-size: 20px;
  }

}

/* small devices */

@media (min-width: 576px) and (max-width: 767px) {
  /* Navbar */
  .site-new-wrapper {
    padding: 0;
  }
  ul.navbar-nav {
    background: #fff;
    opacity: 0.9;
    padding: 10px 0 30px 0;
  }
  ul.navbar-nav>li>a {
    margin: 10px 0 10px 30px;
    color: #212226;
  }
  /* home */
  #home-heading {
    margin: 0 0 60px 0;
  }

  #tagline, #body-copy {
    padding-left: 20px;
  }

  #home-heading h1 {
    font-size: 22px;
  }

  #home-text p {
    font-size: 13px;
    line-height: 15px;
    margin: 8px 2px 13px 2px;
  }
  /* generic */
  .btn-general {
    padding: 8px 25px 6px 25px;
    font-size: 10px;
  }
  .content-box-lg {
    padding: 96px 0;
  }
  .content-box-md {
    padding: 80px 0;
  }

  /* search */
  #verse-rhymer h5 {
    font-size: 18px;
  }

  #verse-rhymer h6 {
    font-size: 13px;
  }

  #verse-body p {
    font-size: 20px;
  }
}

/* extra small devices (phones) */

@media (min-width: 321px) and (max-width: 575px) {
  /* Navbar */
  .site-new-wrapper {
    padding: 0;
  }
  ul.navbar-nav {
    background: #fff;
    opacity: 0.9;
    padding: 10px 0 30px 0;
  }
  ul.navbar-nav>li>a {
    margin: 10px 0 10px 20px;
    color: #212226;
  }

  /* home */
  #home-heading {
    margin: 0 0 30px 0;
  }

  #tagline, #body-copy {
    padding-left: 20px;
  }

  #home-heading h1 {
    font-size: 30px;
  }

  #home-text p {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 0 5px;
  }

  /* generic */
  .btn-general {
    padding: 8px 25px 6px 25px;
    font-size: 10px;
  }
  .content-box-lg {
    padding: 96px 0;
  }
  .content-box-md {
    padding: 80px 0;
  }

  /* help, privacy, terms */
  #help h3 {
    font-size: 20px;
  }

  #help h4 {
    font-size: 16px;
    line-height: 25px;
  }

  #help h5 {
    font-size: 14px;
  }

  /* search */
  #verse-rhymer h5 {
    font-size: 13px;
    margin: 0;
  }

  #verse-rhymer h6 {
    font-size: 10px;
    margin: 0 0 5px 0;
  }

  #verse-body p {
    font-size: 15px;
  }

  /* connections */
  #connections h6{
    font-size: 13px;
  }

  /* footer */
  footer p {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  /* footer menu */
  #footer-menu {
    font-size: 24px;
  }

  /* home */
  #home-heading {
    margin: 0 0 20px 0;
  }

  #tagline, #body-copy {
    padding-left: 20px;
  }

  #home-heading h1 {
    font-size: 30px;
  }

  #home-text p {
    font-size: 10px;
    line-height: 18px;
    margin: 0 0 0 8px;
  }

  /* oauth */
  #oauth {
    margin-bottom: 30px;
  }

  /* help, privacy, terms */
  #help h3 {
    font-size: 16px;
  }

  #help h4 {
    font-size: 13px;
    line-height: 20px;
  }

  #help h5 {
    font-size: 11px;
  }

  #help h2, #privacy h2, #terms h2{
    font-size: 24px;
  }

  help .faq, #help .contact-list {
    margin: 10px 25px 30px 25px;
  }

  #privacy h3, #terms h3 {
    font-size: 15px;
  }

  #privacy p, #terms p {
    font-size: 12px;
  }

  /* search */
  #verse-left {
    padding: 0 5px 0 0;
  }

  #verse-left img {
    width: 35px;
  }

  #verse-rhymer h5 {
    font-size: 12px;
    margin: 0;
  }

  #verse-rhymer h6 {
    font-size: 10px;
    margin: 0 0 5px 0;
  }

  #verse-body p {
    padding-right: 5px;
    font-size: 13px;
  }

  /* connections */
  #connections h6{
    font-size: 11px;
  }



  /* footer */
  footer a {
    font-size: 8px;
  }
  footer p {
    font-size: 10px;
  }
}
