/* =====================================
  Default Theme
  -------------------------------------
  Fonts: Ubuntu & Open Sans
  -------------------------------------
  Colors:
    SUNGLOW:      #FFCF35
    Grey:         #B4B8C5
    Isabelline:   #F2F2ED
    White:        #FFFFFF
    Black:        #242423
======================================*/

/* =====================================
  Html, body
======================================*/

html, body {
  height: 100%;
}

body {
  color: #242423;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

p {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}

*:focus {
  outline: none;
}

/* =====================================
  Buttons
======================================*/

.btn-general {
  font-family: "Ubuntu", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-home {
  color: #fff;
  border: 1px solid #fff;
}

.btn-home:hover, .btn-home:focus {
  color: #fff;
  background-color: #FFCF35;
  border: 1px solid #FFCF35;
}

.btn-yellow {
  color: #FFCF35;
  border: 1px solid #FFCF35;
}

.btn-yellow:hover, .btn-yellow:focus {
  color: #fff;
  background-color: #FFCF35;
  border: 1px solid #FFCF35;
}

.btn-black {
  color: #fff;
  border: 1px solid #242423;
  background-color: #242423;
}

.btn-black:hover, .btn-white:focus {
  color: #242423;
  background-color: #fff;
  border: 1px solid #242423;
}

/* .btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 3px 15px;
  border-radius: 4px;
  font-size: 22px;
  display: none;
} */

/* =====================================
  Content Boxes
======================================*/

.content-box-lg {
  padding: 100px 0;
}

.content-box-md {
  padding: 80px 0;
}

.content-box-sm {
  padding: 60px 0;
}

/* =====================================
  Sign In
======================================*/
#signin a {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #242423;
}

#oauth a i {
  font-size: 20px;
  width: 45px;
}

#oauth a {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 8px 12px 8px 0;
}

#oauth-twitter {
  background: #00aced;
  border-color: transparent;
  color: #fff;
}

#oauth-instagram {
  background: #00aced;
  border-color: transparent;
  color: #fff;
}

#oauth-google {
  background: #00aced;
  border-color: transparent;
  color: #fff;
}
/* =====================================
  Logout
======================================*/
#logout button.btn{
  margin-top: 15px;
}
