/* =====================================
  Default Theme
  -------------------------------------
  Fonts: Ubuntu & Open Sans
  -------------------------------------
  Colors:
    SUNGLOW:      #FFCF35
    Grey:         #B4B8C5
    Isabelline:   #F2F2ED
    White:        #FFFFFF
    Black:        #242423
======================================*/

/* =====================================
  Html, body
======================================*/

html, body {
  height: 100%;
}

body {
  color: #242423;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

p {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #F2F2ED;
  overflow: hidden;
}

*:focus {
  outline: none;
}

/* =====================================
  Buttons
======================================*/

.btn-general {
  font-family: "Ubuntu", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-home {
  color: #fff;
  border: 1px solid #fff;
}

.btn-home:hover, .btn-home:focus {
  color: #fff;
  background-color: #FFCF35;
  border: 1px solid #FFCF35;
}

.btn-yellow {
  color: #FFCF35;
  border: 1px solid #FFCF35;
}

.btn-yellow:hover, .btn-yellow:focus {
  color: #fff;
  background-color: #FFCF35;
  border: 1px solid #FFCF35;
}

.btn-black {
  color: #fff;
  border: 1px solid #242423;
  background-color: #242423;
}

.btn-black:hover, .btn-white:focus {
  color: #242423;
  background-color: #fff;
  border: 1px solid #242423;
}

/* .btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 3px 15px;
  border-radius: 4px;
  font-size: 22px;
  display: none;
} */

/* =====================================
  Content Boxes
======================================*/

.content-box-lg {
  padding: 100px 0;
}

.content-box-md {
  padding: 80px 0;
}

.content-box-sm {
  padding: 60px 0;
}

/* =====================================
  Footer Menu
======================================*/
#footer-menu {
 position: fixed;
 bottom: 0px;
 right: 0px;
 width: 100%;
 background-color: #fff;
 border-top: 1.2px solid #F2F2ED;
 z-index: 2;
 font-size: 30px;
 padding: 3px 0 5px 0;
}

#footer-menu img {
  width: 35px;
  vertical-align: middle;
  padding-bottom: 2px;
}

#footer-menu a {
  text-decoration: none;
  color: #242423;
}

/* =====================================
  Sign In
======================================*/
#signin a {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #242423;
}

#oauth a i {
  font-size: 20px;
  width: 45px;
}

#oauth a {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 8px 12px 8px 0;
}

#oauth-twitter {
  background: #00aced;
  border-color: transparent;
  color: #fff;
}

#oauth-instagram {
  background: #00aced;
  border-color: transparent;
  color: #fff;
}

#oauth-google {
  background: #00aced;
  border-color: transparent;
  color: #fff;
}

/* =====================================
  Logout
======================================*/
#logout button.btn{
  margin-top: 15px;
}

/* =====================================
  Static Pages
======================================*/

/* home */
#home {
  background: none;
  height: 100%;
}

#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: url("../video/solo.jpg") no-repeat;
  background-size: cover;
}

#home-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading {
  margin: 0 30px 60px 30px;
}

#home-heading h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

#home-heading h1 span {
  color: #FFCF35;
  font-weight: 500;
}

#privacy .content-box-lg, #terms .content-box-lg, #help .content-box-lg {
  background-color: #fff;
  padding: 10px 20px;
}

/* privacy, terms */
#privacy, #terms {
  margin: 0 20px;
}

#privacy h2, #terms h2 {
  margin: 10px 0 20px 0;
}

#privacy h3, #terms h3 {
  font-size: 22px;
}

#privacy p, #terms p {
  font-size: 14px;
}

#privacy ul>li, #terms ul>li{
  font-size: 13px;
  line-height: 22px;
}


#help h3, h4, h5 {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#help h3 {
  font-size: 24px;
}

#help h3 span, #help h4 span {
  font-family: "Ubuntu", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
}

#help h4 {
  font-size: 20px;
  line-height: 30px;
}

#help h5 {
  font-size: 18px;
}

#help .heading {
  margin: 15px 20px;
}

#help .faq, #help .contact-list {
  margin: 30px 25px 40px 25px;
}
