/* =====================================
  Default Theme
  -------------------------------------
  Fonts: Ubuntu & Open Sans
  -------------------------------------
  Colors:
    SUNGLOW:      #FFCF35
    Grey:         #B4B8C5
    Isabelline:   #F2F2ED
    White:        #FFFFFF
    Black:        #242423
======================================*/

/* =====================================
  Html, body
======================================*/

html, body {
  height: 100%;
}

body {
  color: #242423;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

p {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

a, a:hover {
  color: #242423;
}

section {
  background: #fff;
  overflow: hidden;
}

*:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

/* =====================================
  Buttons
======================================*/

.btn-general {
  font-family: "Ubuntu", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-home {
  color: #fff;
  border: 1px solid #fff;
}

.btn-home:hover, .btn-home:focus {
  color: #fff;
  background-color: #FFCF35;
  border: 1px solid #FFCF35;
}

.btn-yellow {
  color: #FFCF35;
  border: 1px solid #FFCF35;
}

.btn-yellow:hover, .btn-yellow:focus {
  color: #fff;
  background-color: #FFCF35;
  border: 1px solid #FFCF35;
}

.btn-black {
  color: #fff;
  border: 1px solid #242423;
  background-color: #242423;
}

.btn-black:hover, .btn-white:focus {
  color: #242423;
  background-color: #fff;
  border: 1px solid #242423;
}

/* =====================================
  Content Boxes
======================================*/

.content-box-lg {
  padding: 100px 0;
}

.content-box-md {
  padding: 80px 0;
}

.content-box-sm {
  padding: 60px 0;
}

/* =====================================
  Header
======================================*/
header {
  background-color: #242423;
  margin: 0;
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
header a>h2 {
  color: #FFCF35;
  line-height: 35px;
  font-size: 30px;
}

header .navbar {
  padding: 0 25px;
  transition: all 300ms linear;
}

header .navbar-brand {
  padding: 8px 15px 5px 5px;
}

header .navbar-toggler-icon {
  color: #FFCF35;
  font-size: 18px;
  padding-top: 5px;
  outline: none;
}

ul.nav.navbar-nav.nav-pills{
  background-color: #242423;
}

.navbar-collapse ul.navbar-nav>li>a{
  color: #fff;
}


ul.navbar-nav>li>a {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 20px;
}

ul.navbar-nav>li>a:hover, ul.navbar-nav>li>a:focus {
  color: #FFCF35;
}

#space {
  margin-top: 50px;
}


/* =====================================
  Footer Menu
======================================*/
#footer-menu {
 position: fixed;
 bottom: 0px;
 right: 0px;
 width: 100%;
 background-color: #fff;
 border-top: 1.2px solid #F2F2ED;
 z-index: 2;
 font-size: 30px;
 padding: 3px 0 5px 0;
}

#footer-menu img {
  width: 35px;
  vertical-align: middle;
  padding-bottom: 2px;
}

#footer-menu a {
  text-decoration: none;
  color: #242423;
}

/* =====================================
  Sign In
======================================*/
#signin a {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #242423;
}

#signin .btn-black {
  font-size: 15px;
}

#oauth a i {
  font-size: 20px;
  width: 45px;
}

#oauth span {
  font-size: 13px;
  margin-bottom: 5px;
}

#oauth a {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 8px 12px 8px 0;
}

#oauth-twitter {
  border: 1px solid #00aced;
  color: #00aced;
  margin: 5px 0;
}


#oauth-twitter:hover, #oauth-twitter:focus {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #00aced;
}

#oauth-instagram {
  border: 1px solid #cd486b;
  margin: 5px 0;
  color: #cd486b;
}

#oauth-instagram:hover, #oauth-instagram:focus {
  color: #fff;
  background-color: #cd486b;
  border: 1px solid #cd486b;
}

#oauth-google {
  border: 1px solid #dd4b39;
  margin: 5px 0;
  color: #dd4b39;
}

#oauth-google:hover, #oauth-google:focus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
}



/* =====================================
  Logout
======================================*/
#logout button.btn{
  margin-top: 15px;
}

/* =====================================
  Static Pages
======================================*/

/* home */
#home {
  background: none;
  height: 100%;
}

#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: url("../img/rhymer_live.jpg") no-repeat;
  background-size: cover;
}

#home-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading {
  margin: 0 15px 60px 15px;
}

#tagline, #body-copy {
  padding: 0;
}

#home-heading h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

#home-heading h1 span {
  color: #FFCF35;
  font-weight: 500;
}

#home-text p {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
  margin: 0 0px 20px 0px;
}

#home-btn {
  margin-top: 20px;
}

#privacy .content-box-lg, #terms .content-box-lg, #help .content-box-lg {
  background-color: #fff;
  padding: 10px 20px;
}

/* privacy, terms */
#privacy, #terms, #help {
  margin: 0 20px 30px 20px;
}

#privacy h2, #terms h2 {
  margin: 10px 0 20px 0;
}

#privacy h3, #terms h3 {
  font-size: 22px;
}

#privacy p, #terms p {
  font-size: 14px;
}

#privacy ul>li, #terms ul>li{
  font-size: 13px;
  line-height: 22px;
}


#help h3, h4, h5 {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#help h3 {
  font-size: 24px;
}

#help h3 span, #help h4 span {
  font-family: "Ubuntu", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
}

#help h4 {
  font-size: 20px;
  line-height: 30px;
}

#help h5 {
  font-size: 18px;
}

#help .heading {
  margin: 15px 20px;
}

#help .faq, #help .contact-list {
  margin: 30px 25px 40px 25px;
}

/* =====================================
  Footer
======================================*/
footer {
  background: #212226;
  padding: 0 0 5px 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

footer p {
  color: #fff;
  line-height: 16px;
  margin: 0;
}

footer p span {
  color: #FFCF35;
}

footer a {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
}

footer a:hover {
  color: #fff;
}
