/* =====================================
  Create, Answer, Beef
======================================*/
#create-post, #answer-post, #beef-post {
  padding: 0px 20px;
}

#create-post h3, #answer-post h3, #beef-post h3 {
  font-size: 20px;
}

#create-post .form-group {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 15px 5px;
}
/*
#create-post .form-control form textarea,
#answer-post .form-control form textarea,
#beef-post .form-control form textarea, {
  margin: 30px auto 50px auto;
  border: 150px solid #242423;
} */

/* Answer, Beef */
#answer-post .target,
#beef-post .target {
  margin: 15px auto;
}

#answer-post .target h6,
#beef-post .target h6 {
  margin: 5px 0 0 0;
}

#answer-post .target img,
#beef-post .target img {
  max-height: 60px;
}

#answer-post h4,
#beef-post h4 {
  font-size: 18px;
}

#beef-post .vs {
  margin: 10px 0;
}

#beef-post .vs i {
  color: #FFCF35;
}



/* =====================================
  Detail
======================================*/
#verse-detail{
  margin: 10px 0;
}

/* =====================================
  Index
======================================*/
#verses-index{
  margin-bottom: 50px;
}

.container-fluid {
  padding: 0;
}

.verse {
  margin: 8px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #B4B8C5;
}

.verse-reaction a {
  color: #242423;
}

.verse-reaction a:hover {
  color: #FFCF35;
}

#verse-left {
  margin: 0;
}

#verse-left img {
  width: 50px;
  object-fit: contain;
  padding-right: 5px;
}

#verse-right,
#verse-rhymer,
#verse-body {
  padding: 0 0 0 5px;
}

#verse-rhymer h5 {
  font-size: 18px;
  word-wrap: break-word;
}

#verse-rhymer h6 {
  color: #B4B8C5;
  font-weight: 300;
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#verse-body p {
  font-size: 15px;
  word-wrap: break-word;
}
