{% extends 'base.html' %}
{% load staticfiles %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="{% static 'rhyme/img/rhymer_live.jpg' %}">
{% endblock %}
{% block content %}
<section id="help">
  <div class="content-box-lg">
    <div class="heading">
      <h2>FAQ</h2>
    </div>
        <div class="faq">
          <h3><span>Q. </span>サイト利用は無料ですか？登録なしでも見れますか？</h3>
          <h4>
            <span>A. </span>無料です。登録なしでもご覧いただけます。
          </h4>
        </div>
        <div class="faq">
         <h3><span>Q. </span>何を投稿すればいいの？</h3>
         <h4>
           <span>A. </span>日々感じている思いやあなたの考えを、熱いライムにしたためて投稿してください。
         </h4>
        </div>
        <div class="faq">
         <h3><span>Q. </span>DISもありなのですか？</h3>
         <h4>
           <span>A. </span>「DISは愛があるゆえ」という般若さんの言葉を忘れず、リスペクトを持ってディスりましょう。
         </h4>
        </div>
         <div class="faq">
           <h3><span>Q. </span>投稿にbeatつけたいんだけど</h3>
           <h4>
             <span>A. </span>今後、皆様の声に合わせて機能をアップデートして参ります。ぜひ色んなご意見をお寄せください。
           </h4>
        </div>
      <div class="heading">
        <h2>Contact</h2>
      </div>
      <div class="contact-list">
        <h5>サービスに関するご意見ご要望、または質問などございましたら、以下までご連絡をお願いします。</h5>
        <div>
          <h5>Instagram: </h5>
          <h5>Twitter:</h5>
          <h5>メール: support@rhyme.live</h5>
       </div>
      </div>
    </div>
  </section>
  {% endblock %}
