{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="search">
  <div class="content-box-sm">
    <div class="container text-center">
    <h2>Search</h2>
    <form method="POST" action="{% url 'search' %}">
      {% csrf_token %}
      <div class="form-group">
        <div class="row no-gutters">
          <div class="offset-lg-1"></div>
          <div class="col-lg-8 col-9">
            <input type="text" class="form-control" placeholder="Search verses" name="w">
          </div>
          <div class="col-lg-2 col-3">
            <button class="btn btn-general btn-black fas" type="submit"><i class="fas fa-search"></i></button>
          </div>
          <div class="offset-lg-1"></div>
        </div>
      </div>
    </form>
    </div>

  <div class="container-fluid pt-2">
    {% if results %}
      <div class="infinite-container">
      {% for result in results %}
      <div class="row verse infinite-item">
        <div class="col-2" id="verse-left">
          {% if result.rhymer.icon %}
            <a href="{% url 'users:detail' result.rhymer.id %}">
              <img src="{{ result.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
            </a>
          {% else %}
            <a href="{% url 'users:detail' result.rhymer.id %}">
              <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
            </a>
          {% endif %}
        </div>
        <div class="col-10" id="verse-right">
            <div class="row">
              <div class="col-12" id="verse-rhymer">
                {% if result.rhymer.mcname %}
                <a href="{% url 'users:detail' result.rhymer.id %}">
                  <h5>{{ result.rhymer.mcname }} </h5>
                  <h6>a.k.a. {{ result.rhymer.username}}</h6>
                </a>
                {% else %}
                <a href="{% url 'users:detail' result.rhymer.id %}">
                  <h5>{{ result.rhymer.username}} </h5>
                </a>
                {% endif %}
              </div>
              <div class="col-12" id="verse-body">
                <a href="{% url 'verses:detail' result.id %}"><p>{{ result.body|linebreaks }}</p></a>
              </div>
              <div class="offset-lg-1"></div>
              <div class="col-3 col-lg-2 verse-reaction"><a href="{% url 'verses:answer' result.id %}"><i class="fas fa-reply"></i> {{ result.get_answers.count }}</a></div>
              <div class="col-3 col-lg-2 verse-reaction"><a href="{% url 'verses:beef' result.id %}"><i class="fas fa-bolt"></i> {{ result.get_beefs.count }}</a></div>
              <div class="col-3 col-lg-2 verse-reaction">
                <a class="like-btn" data-href="{{ result.get_api_like_url }}" data-likes="{{ result.likes.count }}" href="{{ result.get_like_url }}" verse-id = "{{ result.id }}">
                  <i class="fas fa-hand-peace"></i><span id="{{ result.like_text_id }}"> {{ result.likes.count }}</span>
                </a>
              </div>
              <div class="col-3 col-lg-2 verse-reaction"><i class="fas fa-ellipsis-h"></i></div>
              <div class="offset-lg-1"></div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if results.has_next %}
    <a class="infinite-more-link" href="?page={{ results.next_page_number }}"></a>
    {% endif %}

    <div class="loading text-center" style="display: none;">
     <img src="{% static 'rhyme/img/loading.gif' %}" alt="Loading...">
    </div>

    {% else %}
    <div class="infinite-container">
      {% for trend in trends %}
      <div class="row verse infinite-item">
        <div class="col-2" id="verse-left">
          {% if trend.rhymer.icon %}
            <a href="{% url 'users:detail' trend.rhymer.id %}">
              <img src="{{ trend.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
            </a>
          {% else %}
            <a href="{% url 'users:detail' trend.rhymer.id %}">
              <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
            </a>
          {% endif %}
        </div>
        <div class="col-10" id="verse-right">
            <div class="row">
              <div class="col-12" id="verse-rhymer">
                {% if trend.rhymer.mcname %}
                <a href="{% url 'users:detail' trend.rhymer.id %}">
                  <h5>{{ trend.rhymer.mcname }} </h5>
                  <h6>a.k.a. {{ trend.rhymer.username}}</h6>
                </a>
                {% else %}
                <a href="{% url 'users:detail' trend.rhymer.id %}">
                  <h5>{{ trend.rhymer.username}} </h5>
                </a>
                {% endif %}
              </div>
              <div class="col-12" id="verse-body">
                <a href="{% url 'verses:detail' trend.id %}"><p>{{ trend.body|linebreaks }}</p></a>
              </div>
              <div class="offset-lg-1"></div>
              <div class="col-3 col-lg-2 verse-reaction"><a href="{% url 'verses:answer' trend.id %}"><i class="fas fa-reply"></i> {{ trend.get_answers.count }}</a></div>
              <div class="col-3 col-lg-2 verse-reaction"><a href="{% url 'verses:beef' trend.id %}"><i class="fas fa-bolt"></i> {{ trend.get_beefs.count }}</a></div>
              <div class="col-3 col-lg-2 verse-reaction">
                <a class="like-btn" data-href="{{ trend.get_api_like_url }}" data-likes="{{ trend.likes.count }}" href="{{ trend.get_like_url }}" verse-id = "{{ trend.id }}">
                  <i class="fas fa-hand-peace"></i><span id="{{ trend.like_text_id }}"> {{ trend.likes.count }}</span>
                </a>
              </div>
              <div class="col-3 col-lg-2 verse-reaction"><i class="fas fa-ellipsis-h"></i></div>
              <div class="offset-lg-1"></div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if trends.has_next %}
    <a class="infinite-more-link" href="?page={{ trends.next_page_number }}"></a>
    {% endif %}

    <div class="loading text-center" style="display: none;">
     <img src="{% static 'rhyme/img/loading.gif' %}" alt="Loading...">
    </div>

    {% endif %}
  </div>
</section>


{% endblock %}
