{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
  <!-- Stylesheet for verses app -->
  <link rel="stylesheet" href="{% static 'verses/css/verses.css' %}">
{% endblock %}

{% block content %}

<section class="text-center" id="answer-post">
  <div class="content-box-sm">
    <div class="container">
    <h2>Answer</h2>
    <div class="row target">
      <div class="col-2">
        {% if target.rhymer.icon %}
          <img src="{{ target.rhymer.icon.url }}" class="img-fluid rounded-circle" alt="user's icon">
        {% else %}
          <img src="{% static 'default_icon.png' %}" alt="user's icon">
        {% endif %}
      </div>
      <div class="col-10 text-left">
        {% if target.rhymer.mcname %}
          <h6>{{ target.rhymer.mcname }}</h6>
        {% else %}
          <h6>{{ target.rhymer.username }}</h6>
        {% endif %}
        <p>{{ target.body }}</p>
      </div>
    </div>
      <div class="row">
        <div class="col-12">
          <h4 class="text-left">Your verse : </h4>
          <form method="POST" action="{% url 'answer' target.id %}">
            {% csrf_token %}
          <div class="form-group">
          <textarea name="body" class="form-control" rows="6"></textarea>
          </div>
        </div>
        <div class="col-12">
          <input class="btn btn-general btn-black" type="submit" role="button" value="On Air!" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
