{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ target.image.url }}">
{% endblock %}
{% block css %}
  <!-- Stylesheet for verses app -->
  <link rel="stylesheet" href="{% static 'verses/css/verses.css' %}">
  <link rel="stylesheet" href="{% static 'verses/css/verses-responsive.css' %}">

{% endblock %}

{% block content %}

<section id="beef-post">
  <div class="content-box-sm">
    <div class="container">
      <h2 class="text-center">Beef</h2>
        <div class="row no-gutters verse">
          <div class="col-3 col-sm-2" id="verse-left">
            <a href="{% url 'users:detail' target.rhymer.id %}">
            {% if target.rhymer.icon %}
              <img src="{{ target.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
            {% else %}
              <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
            {% endif %}
            </a>
          </div>
          <div class="col-7 col-sm-8" id="verse-right">
              <div class="row">
                <div class="col-12" id="verse-rhymer">
                  <a href="{% url 'users:detail' target.rhymer.id %}">
                  {% if target.rhymer.mcname %}
                    <h5>{{ target.rhymer.mcname }} </h5>
                    <h6>a.k.a. {{ target.rhymer.username}}</h6>
                  {% else %}
                    <h5>{{ target.rhymer.username}} </h5>
                  {% endif %}
                  </a>
                </div>
                <div class="col-12" id="verse-body">
                  <p>{{ target.body|linebreaks }} </p>
                </div>
              </div>
          </div>
          <div class="offset-2"></div>
          {% if target.beat %}
          <div class="col-2 beat-info">
            <img src="{% static 'verses/img/record_player.png'%}" alt="Beat :" class="img-fluid float-right">
          </div>
          <div class="col-10 text-center beat-info">
            <p class="float-left">{{target.beat.title}} by {{target.beat.maker.mcname}}</p>
          </div>
          <div class="col-12 col-md-8 col-lg-6 text-center">
            <audio id="beat-player" src="{{target.beat.track.url}}" loop controls></audio>
          </div>
          <div class="offset-md-4 offset-lg-6"></div>
          {% endif %}
        </div>

        <!-- Existing Beefs -->
        {% if beefs %}
        <h3 class="my-3">Other beefs :</h3>
        <div class="row verse">
          {% for beef in beefs %}
          <div class="col-3 col-sm-2" id="beef-left">
            <a href="{% url 'users:detail' beef.rhymer.id %}">
            {% if beef.rhymer.icon %}
              <img src="{{ beef.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
            {% else %}
              <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
            {% endif %}
            </a>
          </div>
          <div class="col-9 col-sm-10" id="beef-right">
              <div class="row">
                <div class="col-12" id="beef-rhymer">
                  <a href="{% url 'users:detail' beef.rhymer.id %}">
                  {% if beef.rhymer.mcname %}
                    <h5>{{ beef.rhymer.mcname }} </h5>
                    <h6>a.k.a. {{ beef.rhymer.username}}</h6>
                  {% else %}
                    <h5>{{ beef.rhymer.username}} </h5>
                  {% endif %}
                  </a>
                </div>
                <div class="col-12" id="beef-body">
                  <p>{{ beef.body|linebreaks }} </p>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
      <div class="row vs">
        <div class="col-5 text-right"><i class="fas fa-bolt"></i></div>
        <div class="col-2 text-center"><h3> V.S. </h3></div>
        <div class="col-5 text-left"><i class="fas fa-bolt"></i></div>
      </div>
      <form method="POST" action="{% url 'verses:beef' target.id %}">
        {% csrf_token %}
        <div class="form-group text-center">
          <div class="row">
            <div class="offset-md-1"></div>
            <div class="col-12 col-md-10">
              <h4 class="text-left">Your verse : </h4>
            </div>
            <div class="offset-md-1"></div>
            <div class="offset-md-1"></div>
            <div class="col-12 col-md-10">
              <textarea name="body" class="form-control" rows="6"></textarea>
            </div>
            <div class="offset-md-1"></div>
            <div class="offset-2 offset-sm-3"></div>
            <div class="shareBtn col-8 col-sm-6 my-2">
              <input type="checkbox" id="shareOnTwitter" class="form-check-input" name="tweetBtn" value="tweet">
              <label for="shareOnTwitter" class="form-check-label">
                <i class="fab fa-twitter"></i> <span>Share on Twitter</span>
              </label>
            </div>
            <div class="offset-2 offset-sm-3"></div>
            <div class="col-12">
              <input class="btn btn-general btn-black" type="submit" role="button" value="On Air!" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>


{% endblock %}
