{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
  <!-- Stylesheet for verses app -->
  <link rel="stylesheet" href="{% static 'verses/css/verses.css' %}">
  <link rel="stylesheet" href="{% static 'verses/css/verses-responsive.css' %}">

{% endblock %}

{% block content %}

<section class="text-center" id="beef-post">
  <div class="content-box-sm">
    <div class="container">
      <h2>Beef</h2>
      <div class="row target">
        <div class="col-3 col-sm-2"  id="beef-target-left">
          {% if target.rhymer.icon %}
          <img src="{{ target.rhymer.icon.url }}" class="img-fluid rounded-circle" alt="user's icon">
          {% else %}
          <img src="{% static 'users/img/default_icon.png' %}" alt="user's icon">
          {% endif %}
        </div>
        <div class="col-7 col-sm-8 text-left" id="beef-target-right">
          {% if target.rhymer.mcname %}
          <h6>{{ target.rhymer.mcname }}</h6>
          {% else %}
          <h6>{{ target.rhymer.username }}</h6>
          {% endif %}
          <p>{{ target.body|linebreaks }}</p>
        </div>
        <div class="offset-2"></div>

        <!-- Existing Beefs -->
        {% if beefs %}
        <div class="row verse">
          {% for beef in beefs %}
          <div class="col-2" id="beef-left">
            <a href="{% url 'users:detail' beef.rhymer.id %}">
            {% if beef.rhymer.icon %}
              <img src="{{ beef.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
            {% else %}
              <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
            {% endif %}
            </a>
          </div>
          <div class="col-10" id="beef-right">
              <div class="row">
                <div class="col-12" id="beef-rhymer">
                  <a href="{% url 'users:detail' beef.rhymer.id %}">
                  {% if beef.rhymer.mcname %}
                    <h5>{{ beef.rhymer.mcname }} </h5>
                    <h6>a.k.a. {{ beef.rhymer.username}}</h6>
                  {% else %}
                    <h5>{{ beef.rhymer.username}} </h5>
                  {% endif %}
                  </a>
                </div>
                <div class="col-12" id="beef-body">
                  <p>{{ beef.body|linebreaks }} </p>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="row vs">
        <div class="col-5 text-right"><i class="fas fa-bolt"></i></div>
        <div class="col-2 text-center"><h3> V.S. </h3></div>
        <div class="col-5 text-left"><i class="fas fa-bolt"></i></div>
      </div>
      <h4 class="text-right">Your verse</h4>
      <form method="POST" action="{% url 'verses:beef' target.id %}">
        {% csrf_token %}
        <div class="form-group">
          <div class="row">
            <div class="col-12">
              <textarea name="body" class="form-control" rows="6"></textarea>
            </div>
            <div class="col-12">
              <input type="checkbox" name="tweetBtn" value="tweet"><i class="fab fa-twitter"></i><span>Share on Twitter</span>
            </div>
            <div class="col-12">
              <input class="btn btn-general btn-black" type="submit" role="button" value="On Air!" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>


{% endblock %}
