{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
  <!-- Stylesheet for verses app -->
  <link rel="stylesheet" href="{% static 'verses/css/verses.css' %}">
{% endblock %}

{% block content %}

<section class="text-center" id="create-post">
  <div class="content-box-sm">
    <div class="container">
    <h3>Create new Verse</h3>
      <div class="row">
        <div class="col-12">
          <form method="POST" action="{% url 'create' %}">
            {% csrf_token %}
          <div class="form-group">
          <textarea name="body" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-12">
          <input class="btn btn-general btn-black" type="submit" role="button" value="Kick the verse!" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
