{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'rhyme/img/rhymer_live.jpg' %}">
{% endblock %}
{% block css %}
  <!-- Stylesheet for verses app -->
  <link rel="stylesheet" href="{% static 'verses/css/verses.css' %}">
{% endblock %}

{% block content %}

<section class="text-center" id="create-post">
  <div class="content-box-sm">
    <div class="container">
    <h3>Kick the verse</h3>
    <form method="POST" action="{% url 'verses:create' %}">
      {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div class="col-12">
            <textarea name="body" class="form-control" rows="6"></textarea>
          </div>
          <div class="offset-2 offset-sm-3"></div>
          <div class="shareBtn col-8 col-sm-6 my-2">
            <input type="checkbox" id="shareOnTwitter" class="form-check-input" name="tweetBtn" value="tweet">
            <label for="shareOnTwitter" class="form-check-label">
              <i class="fab fa-twitter"></i> <span>Share on Twitter</span>
            </label>
          </div>
          <div class="offset-2 offset-sm-3"></div>
          <div class="col-12">
            <input class="btn btn-general btn-black" type="submit" role="button" value="On Air!" />
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
</section>


{% endblock %}
