{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ verse.image.url }}">
{% endblock %}
{% block css %}
  <!-- Stylesheet for verses app -->
  <link rel="stylesheet" href="{% static 'verses/css/verses.css' %}">
  <link rel="stylesheet" href="{% static 'verses/css/verses-responsive.css' %}">
{% endblock %}

{% block content %}

<section id="verse-detail">
  <div class="container-fluid">
    <!-- Verse -->
      <div class="row no-gutters verse">
        <div class="col-2" id="verse-left">
          <a href="{% url 'users:detail' verse.rhymer.id %}">
          {% if verse.rhymer.icon %}
            <img src="{{ verse.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
          {% else %}
            <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
          {% endif %}
          </a>
        </div>
        <div class="col-10" id="verse-right">
          <div class="row">
            <div class="col-12" id="verse-rhymer">
              <a href="{% url 'users:detail' verse.rhymer.id %}">
              {% if verse.rhymer.mcname %}
                <h5>{{ verse.rhymer.mcname }} </h5>
                <h6>a.k.a. {{ verse.rhymer.username}}</h6>
              {% else %}
                <h5>{{ verse.rhymer.username}} </h5>
              {% endif %}
              </a>
            </div>
            <div class="col-12" id="verse-body">
              <p>{{ verse.body|linebreaks }} </p>
            </div>
          </div>
        </div>
        {% if verse.beat %}
        <div class="offset-md-1 offset-lg-2"></div>
        <div class="col-3 col-1 beat-info">
          <img src="{% static 'verses/img/record_player.png'%}" alt="Beat :" class="img-fluid float-right">
        </div>
        <div class="col-9 col-md-7 text-center beat-info">
          <p class="float-left">{{verse.beat.title}} by {{verse.beat.maker.username}}</p>
        </div>
        <div class="offset-md-1 offset-lg-2"></div>
        <div class="col-12 text-center">
          <audio id="beat-player" src="{{verse.beat.track.url}}" loop controls></audio>
        </div>
        {% endif %}
          <div class="offset-lg-1"></div>
          <div class="col-3 col-lg-2 verse-reaction text-center"><a href="{% url 'verses:answer' verse.id %}"><i class="fas fa-reply"></i></a></div>
          <div class="col-3 col-lg-2 verse-reaction text-center"><a href="{% url 'verses:beef' verse.id %}"><i class="fas fa-bolt"></i></a></div>
          <div class="col-3 col-lg-2 verse-reaction text-center"><a class="like-btn" data-href="{{ verse.get_api_like_url }}" data-likes="{{ verse.likes.count }}" href="{{ verse.get_like_url }}" verse-id = "{{ verse.id }}"><i class="fas fa-hand-peace"></i><span id="{{ verse.like_text_id }}">{{ verse.likes.count }}</span></a></div>
          <div class="col-3 col-lg-2 verse-reaction text-center"><i class="fas fa-ellipsis-h"></i></div>
          <div class="offset-lg-1"></div>
      </div>
      {% if answers %}
      <!-- Answers -->
      <div class="row verse">
        {% for answer in answers %}
        <div class="col-2" id="answer-left">
          <a href="{% url 'users:detail' answer.rhymer.id %}">
          {% if answer.rhymer.icon %}
            <img src="{{ answer.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
          {% else %}
            <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
          {% endif %}
          </a>
        </div>
        <div class="col-10" id="answer-right">
            <div class="row">
              <div class="col-12" id="answer-rhymer">
                <a href="{% url 'users:detail' answer.rhymer.id %}">
                {% if answer.rhymer.mcname %}
                  <h5>{{ answer.rhymer.mcname }} </h5>
                  <h6>a.k.a. {{ answer.rhymer.username}}</h6>
                {% else %}
                  <h5>{{ answer.rhymer.username}} </h5>
                {% endif %}
                </a>
              </div>
              <div class="col-12" id="answer-body">
                <p>{{ answer.body|linebreaks }} </p>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
      {% endif %}

      <!-- Beefs -->
      {% if beefs %}
      <div class="row verse">
        {% for beef in beefs %}
        <div class="col-2" id="beef-left">
          <a href="{% url 'users:detail' beef.rhymer.id %}">
          {% if beef.rhymer.icon %}
            <img src="{{ beef.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
          {% else %}
            <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
          {% endif %}
          </a>
        </div>
        <div class="col-10" id="beef-right">
            <div class="row">
              <div class="col-12" id="beef-rhymer">
                <a href="{% url 'users:detail' beef.rhymer.id %}">
                {% if beef.rhymer.mcname %}
                  <h5>{{ beef.rhymer.mcname }} </h5>
                  <h6>a.k.a. {{ beef.rhymer.username}}</h6>
                {% else %}
                  <h5>{{ beef.rhymer.username}} </h5>
                {% endif %}
                </a>
              </div>
              <div class="col-12" id="beef-body">
                <p>{{ beef.body|linebreaks }} </p>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
      {% endif %}

  </div>
</section>

{% endblock %}
