{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
  <!-- Stylesheet for verses app -->
  <link rel="stylesheet" href="{% static 'verses/css/verses.css' %}">
  <link rel="stylesheet" href="{% static 'verses/css/verses-responsive.css' %}">
{% endblock %}

{% block content %}
<div id="bg">
  <div id="waku1"></div>
  <!-- <h5 class="text-center">
    もう何度目かの第一歩<br/>
    三日坊主アワードの皆勤賞<br/>
    おまたせ 今から配信しよう<br/>
    生放送 リテイク無し big show<br/>
  </h5> -->
  <div id="waku2">
          <h2 class="text-right">rhyme.live</h2>
          <h3 class="text-right">#rhymeyourvibes</h3>
      </div>
    </div>
  </div>
</div>


{% endblock %}
