{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
  <!-- Stylesheet for verses app -->
  <link rel="stylesheet" href="{% static 'verses/css/verses.css' %}">
  <link rel="stylesheet" href="{% static 'verses/css/verses-responsive.css' %}">
{% endblock %}

{% block content %}

<section id="verses-index">
  <div class="container-fluid pt-2">
    <div class="infinite-container">
      {% for verse in verses %}
      <div class="row verse infinite-item">
        <div class="col-2" id="verse-left">
          {% if verse.rhymer.icon %}
            <a href="{% url 'users:detail' verse.rhymer.id %}">
              <img src="{{ verse.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
            </a>
          {% else %}
            <a href="{% url 'users:detail' verse.rhymer.id %}">
              <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
            </a>
          {% endif %}
        </div>
        <div class="col-10" id="verse-right">
            <div class="row">
              <div class="col-12" id="verse-rhymer">
                {% if verse.rhymer.mcname %}
                <a href="{% url 'users:detail' verse.rhymer.id %}">
                  <h5>{{ verse.rhymer.mcname }} </h5>
                  <h6>a.k.a. {{ verse.rhymer.username}}</h6>
                </a>
                {% else %}
                <a href="{% url 'users:detail' verse.rhymer.id %}">
                  <h5>{{ verse.rhymer.username}} </h5>
                </a>
                {% endif %}
              </div>
              <div class="col-12" id="verse-body">
                <a href="{% url 'verses:detail' verse.id %}"><p>{{ verse.body|linebreaks }}</p></a>
              </div>
              <div class="offset-lg-1"></div>
              <div class="col-3 col-lg-2 verse-reaction"><a href="{% url 'verses:answer' verse.id %}"><i class="fas fa-reply"></i> {{ verse.get_answers.count }}</a></div>
              <div class="col-3 col-lg-2 verse-reaction"><a href="{% url 'verses:beef' verse.id %}"><i class="fas fa-bolt"></i> {{ verse.get_beefs.count }}</a></div>
              <div class="col-3 col-lg-2 verse-reaction">
                <a class="like-btn" data-href="{{ verse.get_api_like_url }}" data-likes="{{ verse.likes.count }}" href="{{ verse.get_like_url }}" verse-id = "{{ verse.id }}">
                  <i class="fas fa-hand-peace"></i><span id="{{ verse.like_text_id }}"> {{ verse.likes.count }}</span>
                </a>
              </div>
              <div class="col-3 col-lg-2 verse-reaction"><i class="fas fa-ellipsis-h"></i></div>
              <div class="offset-lg-1"></div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if verses.has_next %}
    <a class="infinite-more-link" href="?page={{ verses.next_page_number }}"></a>
    {% endif %}

    <div class="loading mx-auto" style="display: none;">
     <img src="{% static 'rhyme/img/loading.gif' %}" alt="Loading...">
    </div>

  </div>
</section>

{% endblock %}

{% block js %}
<script>
  pullRefresh("#verses-index", "/verses/index")
</script>
<script src="{% static 'verses/js/verses.js' %}"></script>
{% endblock %}
