{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
  <!-- Stylesheet for verses app -->
  <link rel="stylesheet" href="{% static 'verses/css/verses.css' %}">
  <link rel="stylesheet" href="{% static 'verses/css/verses-responsive.css' %}">
{% endblock %}

{% block content %}

<section id="verse-index">
  <div class="container-fluid pt-2">
    {% for verse in verses.all %}
    <div class="row verse">
      <div class="col-2" id="verse-left">
        {% if verse.rhymer.icon %}
          <a href="{% url 'users:detail' verse.rhymer.id %}">
            <img src="{{ verse.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
          </a>
        {% else %}
          <a href="{% url 'users:detail' verse.rhymer.id %}">
            <img src="{% static 'default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
          </a>
        {% endif %}
      </div>
      <div class="col-10" id="verse-right">
          <div class="row">
            <div class="col-12" id="verse-rhymer">
              {% if verse.rhymer.mcname %}
              <a href="{% url 'users:detail' verse.rhymer.id %}">
                <h5>{{ verse.rhymer.mcname }} </h5>
                <h6>a.k.a. {{ verse.rhymer.username}}</h6>
              </a>
              {% else %}
              <a href="{% url 'users:detail' verse.rhymer.id %}">
                <h5>{{ verse.rhymer.username}} </h5>
              </a>
              {% endif %}
            </div>
            <div class="col-12" id="verse-body">
              <a href="{% url 'verses:detail' verse.id %}"><p>{{ verse.body }}</p></a>
            </div>
            <div class="offset-lg-1"></div>
            <div class="col-3 col-lg-2 verse-reaction"><a href="{% url 'verses:answer' verse.id %}"><i class="fas fa-reply"></i></a></div>
            <div class="col-3 col-lg-2 verse-reaction"><a href="{% url 'verses:beef' verse.id %}"><i class="fas fa-bolt"></i></a></div>
            <div class="col-3 col-lg-2 verse-reaction"><a class="like-btn" data-href="{{ verse.get_api_like_url }}" data-likes="{{ verse.likes.count }}" href="{{ verse.get_like_url }}"><i class="fas fa-hand-peace"></i><span class="like-text"> {{ verse.likes.count }}</span></a></div>
            <div class="col-3 col-lg-2 verse-reaction"><i class="fas fa-ellipsis-h"></i></div>
            <div class="offset-lg-1"></div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
