{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'rhyme/img/rhymer_live.jpg' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<div class="content-box-sm text-center">
  <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>再設定用のリンクが無効です。すでに使用済みである可能性があります。<a href="{{ passwd_reset_url }}">こちらのリンク</a>から、新しいURLをリクエストしてください。</p>
  {% else %}
      {% if form %}
        <form method="POST" action="{{ action_url }}">
          {% csrf_token %}
          <div class="container">
            <div class="row">
              {% for field in form %}
                <div class="offset-md-3"></div>
                <div class="col-12 col-md-6">
                    {% bootstrap_field field %}
                </div>
                <div class="offset-md-3"></div>
              {% endfor %}
              <div class="form-group col-12">
                <input type="submit" class="btn btn-general btn-black" name="action" value="{% trans 'change password' %}"/>
              </div>
            </div>
          </div>
        </form>
      {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
      {% endif %}
  {% endif %}
</div>

{% endblock %}
