{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="{% static 'rhyme/img/rhymer_live.jpg' %}">
{% endblock %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<div class="content-box-sm text-center">
  <h2>{% trans "Password Reset" %}</h2>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>パスワード再設定用のメールをお送りしました。数分経っても届かない場合は、お手数ですがお問い合わせください。</p>

</div>

{% endblock %}
