{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<div class="content-box-sm text-center">
  <h2>{% trans "Password Reset" %}</h2>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>メールアドレスを入力してください。パスワード再設定用のリンクをメールでご案内します。</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        {% for field in form %}
          <div class="offset-md-3"></div>
          <div class="col-12 col-md-6">
              {% bootstrap_field field %}
          </div>
          <div class="offset-md-3"></div>
        {% endfor %}
        <div class="form-group col-12">
          <button type="submit" class="btn btn-general btn-black" value="{% trans 'Reset My Password' %}" role="button">{% trans "Reset My Password" %}</button>
        </div>
      </div>
    </div>
  </form>

  <p>再設定時に何か問題があれば、すぐにご連絡ください。</p>

</div>

{% endblock %}
