{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'rhyme/img/rhymer_live.jpg' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<div class="content-box-sm text-center">
  <h2>{% trans "Change Password" %}</h2>
  <p>{% trans 'Your password is now changed.' %}</p>
</div>

{% endblock %}
