{% extends "base.html" %}
{% load account socialaccount %}

{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block meta %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'rhyme/img/rhymer_live.jpg' %}">
{% endblock %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div class="content-box-sm text-center">
  <h2>{% trans "Sign Up" %}</h2>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <div class="container my-4">
    <div class="row no-gutters">
      <div class="offset-md-3"></div>
      <div class="col-12 col-md-6 ">
        <input type="checkbox" name="agree">
        <label for="agree" class="form-check-label">
          <p><a href="{% url 'terms' %}">利用規約</a>と<a href="{% url 'privacy' %}">プライバシーポリシー</a>に同意する。</p>
        </label>
      </div>
      <div class="offset-md-3"></div>
    </div>
    <div id="oauth" class="row text-center my-1">
      <div class="col-12">
        <a id="oauth-twitter" href="{% provider_login_url 'twitter' %}" class="btn btn-general"><i class="fab fa-twitter"></i><span>Sign up with Twitter</span></a>
      </div>
      <!-- <div class="col-12">
        <a id="oauth-instagram" href="{% provider_login_url 'google' %}" class="btn btn-general"><i class="fab fa-instagram"></i><span>Sign in with Instagram</span></a>
      </div> -->
      <div class="col-12 my-1">
        <a id="oauth-google" href="{% provider_login_url 'google' %}"  class="btn btn-general"><i class="fab fa-google"></i><span>Sign up with Google</span></a>
      </div>
    </div>
  </div>

  <h4>Create an account</h4>

  <form class="form-vertical" id="signup-form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        {% for field in form %}
          <div class="offset-md-3"></div>
          <div class="col-12 col-md-6">
              {% bootstrap_field field %}
          </div>
          <div class="offset-md-3"></div>
        {% endfor %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="offset-md-3"></div>
        <div class="col-12 col-md-6">
          <input type="checkbox" name="agree">
          <label for="agree" class="form-check-label">
            <p><a href="{% url 'terms' %}">利用規約</a>と<a href="{% url 'privacy' %}">プライバシーポリシー</a>に同意する。</p>
          </label>
        </div>
        <div class="offset-md-3"></div>
        <div class="form-group col-12">
          <button type="submit" class="btn btn-general btn-black" role="button">{% trans "Sign Up" %}</button>
        </div>
      </div>
    </div>
  </form>


</div>

{% endblock %}
