{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row pt-3">
    <div class="col-2">
      {% if user.icon %}
      <img src="{{ user.icon.url }}" class="img-fluid" />
      {% else %}
      <img src="{% static "default_icon.png" %}" class="img-fluid" alt="he doesn't have icon" />
      {% endif %}
    </div>
    <div class="col-7">
      <h3>{{user.username}}</h3>
      <p>{{user.biography}}</p>
      <a href="{% url 'follow' user.id %}" class="btn btn-general" type="submit" role="button" value="follow">follow</a>
      <p><a href="{% url 'followers' user.id %}">{{ followers }} FOLLOWERS</a></p>
      <p><a href="{% url 'follows' user.id %}">{{ follows }} FLLOWS</a></p>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-8">
      {% for post in posts.all %}
      <p>{{ post.body }}</p>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
