{% extends 'base.html' %}
{% load account socialaccount %}
{% load staticfiles %}
{% block css %}
  <!-- Stylesheet for users app -->
  <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/users-responsive.css' %}">
{% endblock %}
{% block content %}

<section id="user-mypage">
  <div class="container">

    <!-- Popup menu for setting and logout, cancellation -->
    <div class="popup-overlay">
      <div class="popup-content">
        <p id="close-popup" class="text-left"><i class="fas fa-times"></i></p>
        <a href="{% provider_login_url "twitter" process="connect" %}"><p>Connect a Twitter account</p></a>
        <a href="{% url 'account_logout' %}"><p>Log Out</p></a>
        <a href="{% url 'account_change_password' %}"><p>Change Password</p></a>
        <a href="{% url 'privacy' %}"><p>Privacy Policy</p></a>
        <a href="{% url 'terms' %}"><p>Terms of Conditions</p></a>
      </div>
    </div>

    <!-- Contents -->
    <div id="user-info" class="row pt-3">
      <div class="col-3">
        {% if user.icon %}
        <img src="{{ user.icon.url }}" class="img-fluid float-right" />
        {% else %}
        <img src="{% static "users/img/default_icon.png" %}" class="img-fluid float-right" alt="he doesn't have icon" />
        {% endif %}
      </div>
      <div class="col-9">
        <div class="row mx-auto">
          <div class="col-12">
            {% if user.mcname %}
            <h3>{{ user.mcname }}</h5>
            <h5>a.k.a. {{ user.username }}</h5>
            {% else %}
            <h5>{{user.username}}</h5>
            {% endif %}
          </div>
          <div class="col-12">
            <p>{{user.biography}}</p>
          </div>
          <div class="col-6">
            <a href="{% url 'users:followers' user.id %}"><span>{{ followers }}</span> FOLLOWERS</a>
          </div>
          <div class="col-6">
            <a href="{% url 'users:follows' user.id %}"><span>{{ follows }}</span> FOLLOWS</a>
          </div>
          <div class="col-12 my-3">
            {% if user != request.user %}
              {% if user in request.user.get_follows %}
                <a href="{% url 'users:unfollow' user.id %}" class="btn btn-general btn-yellow" role="button" value="following">following</a>
              {% else %}
                <a href="{% url 'users:follow' user.id %}" class="btn btn-general btn-yellow" role="button" value="follow">follow</a>
              {% endif %}
            {% else %}
              <a class="btn btn-general btn-black" href="{% url 'users:edit' user.id %}" role="button" value="Edit Profile">Edit Profile</a>
              <i id="open-popup" class="fas fa-cog"></i>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Tabs to switch posts/likes -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#posts" class="nav-link active">Verses</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'users:likes' user.id %}" class="nav-link">Likes</a>
      </li>
    </ul>

      <!-- Posts -->
      <div id="posts">
        <div class="row pt-3">
          <div class="col-12">
            <div class="infinite-container">
              {% for post in posts %}
              <div class="row post infinite-item">
                <div class="col-2" id="post-left">
                  {% if post.rhymer.icon %}
                  <a href="{% url 'users:detail' post.rhymer.id %}">
                    <img src="{{ post.rhymer.icon.url }}" class="img-fluid rounded-circle float-right" alt="user's icon">
                  </a>
                  {% else %}
                  <a href="{% url 'users:detail' post.rhymer.id %}">
                    <img src="{% static 'users/img/default_icon.png' %}" class="img-fluid rounded-circle float-right" alt="user's icon">
                  </a>
                  {% endif %}
                </div>
                <div class="col-10" id="post-right">
                    <div class="row">
                      <div class="col-12" id="post-rhymer">
                        <a href="{% url 'users:detail' post.rhymer.id %}">
                        {% if post.rhymer.mcname %}
                          <h5>{{ post.rhymer.mcname }} </h5>
                          <h6>a.k.a. {{ post.rhymer.username}}</h6>
                        {% else %}
                          <h5>{{ post.rhymer.username}} </h5>
                        {% endif %}
                        </a>
                      </div>
                      <div class="col-12" id="post-body">
                        <a href="{% url 'verses:detail' post.id %}">
                          <p>{{ post.body|linebreaks }}</p>
                        </a>
                      </div>
                      <div class="offset-lg-1"></div>
                      <div class="col-3 col-lg-2 post-reaction"><a href="{% url 'verses:answer' post.id %}"><i class="fas fa-reply"></i> {{ post.get_answers.count }}</a></div>
                      <div class="col-3 col-lg-2 post-reaction"><a href="{% url 'verses:beef' post.id %}"><i class="fas fa-bolt"></i> {{ post.get_beefs.count }}</a></div>
                      <div class="col-3 col-lg-2 post-reaction">
                        <a class="like-btn" data-href="{{ post.get_api_like_url }}" data-likes="{{ post.likes.count }}" href="{{ post.get_like_url }}" verse-id = "{{ post.id }}">
                          <i class="fas fa-hand-peace"></i><span id="{{ post.like_text_id }}"> {{ post.likes.count }}</span>
                        </a>
                      </div>
                      <div class="col-3 col-lg-2 post-reaction"><i class="fas fa-ellipsis-h"></i></div>
                      <div class="offset-lg-1"></div>
                    </div>
                </div>
              </div>
              {% endfor %}
            </div>

            {% if posts.has_next %}
            <a class="infinite-more-link" href="?page={{ posts.next_page_number }}"></a>
            {% endif %}

            <div class="loading mx-auto" style="display: none;">
             <img src="{% static 'rhyme/img/loading.gif' %}" alt="Loading...">
            </div>

          </div>
        </div>
      </div>
  </div>

</section>

{% endblock %}
{% block js %}
<script src="{% static 'users/js/users.js' %}"></script>
<script>
  pullRefresh("#user-mypage", "{% url 'users:detail' user.id %}")
</script>
{% endblock %}
