{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
  <!-- Stylesheet for users app -->
  <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/users-responsive.css' %}">

{% endblock %}
{% block content %}

<div id="followers">
  <div class="container-fluid">
    {% for follower in followers %}
    <div class="user-summary">
      <div class="row">
        <div class="offset-lg-1"></div>
        <div class="col-3 col-sm-2 col-lg-2">
          <a href="{% url 'users:detail' follower.id %}">
            {% if follower.icon %}
              <img src="{{ follower.icon.url }}" alt="icon" class="img-fluid float-right">
            {% else %}
              <img src="{% static "users/img/default_icon.png" %}" alt="icon" class="img-fluid float-right">
            {% endif %}
          </a>
        </div>
        <div id="user-summary-center" class="col-5 col-sm-6 col-lg-5">
          <a href="{% url 'users:detail' follower.id %}">
              {% if follower.mcname %}
              <h5>{{ follower.mcname }}</h5>
              <h6>a.k.a. {{ follower.username }}</h6>
              {% else %}
              <h5>{{ follower.username }}</h5>
              {% endif %}
          </a>
        </div>
        <div class="col-4" id="user-summary-right">
          <div class="follow-btn">
            {% if follower != request.user %}
              {% if follower in request.user.get_follows %}
                <a href="{% url 'users:unfollow' follower.id %}" class="btn btn-general btn-yellow" role="button" value="following">following</a>
              {% else %}
                <a href="{% url 'users:follow' follower.id %}" class="btn btn-general" role="button" value="follow">follow</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="offset-lg-1"></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
