/* =====================================
  Bootstrap media queries
======================================*/

/* extra large devices (laptop & desktop) */

@media (min-width:1200px) {
  .user-summary img {
    width: 100px;
  }

  #user-summary-center h5{
    font-size: 22px;
  }
}

/* large devices (laptop & desktop) */

@media (min-width: 992px) and (max-width: 1199px) {
  .user-summary img {
    width: 90px;
  }

  #user-summary-center h5{
    font-size: 22px;
  }
}

/* medium devices (tablets) */

@media (min-width: 768px) and (max-width: 991px) {
  .user-summary img {
    width: 75px;
    height: 75px;
  }

  #user-summary-center h5{
    font-size: 22px;
  }

  #user-summary-center {
    padding: 10px 0 5px 0;
  }

  #user-summary-right{
    padding: 20px 0 5px 0;
  }
}

/* small devices */

@media (min-width: 576px) and (max-width: 767px) {
  .user-summary img {
    width: 70px;
    object-fit: contain;
  }

  #user-summary-center h5{
    font-size: 22px;
  }

  #user-summary-center {
    padding: 5px 0 5px 0;
  }

  #user-summary-right{
    padding: 15px 0 5px 0;
  }
}

/* extra small devices (phones) */

@media (min-width: 321px) and (max-width: 575px) {
  /* detail */
  #user-info h3{
    font-size: 22px;
  }

  #user-info h5{
    font-size: 16px;
  }

  #user-info p {
    font-size: 13px;
  }

  #user-info a span {
    font-size: 15px;
  }

  #user-info a {
    font-size: 10px;
  }

  #user-info .btn-black {
    padding: 5px 30px;
  }

  #user-info a i{
    font-size: 18px;
    vertical-align: middle;
    margin: 0 0 5px 5px;
  }

  .popup-overlay{
    width: 70%;
    left: 15%;
    height:40%;
  }

  /* f/f */
  .user-summary img {
    width: 60px;
    object-fit: contain;
  }

  #user-summary-center h5{
    font-size: 18px;
  }

  #user-summary-center h6{
    font-size: 12px;
  }

  #user-summary-center {
    padding: 8px 0 5px 0;
  }

  #user-summary-right{
    padding: 18px 0 5px 0;
  }

  #user-summary-right .btn-yellow{
    padding: 8px 15px;
  }

  /* notification */
  .notif-item{
    padding: 15px 0;
  }

  .notif-type i {
    font-size: 20px;
  }

  .notif-actor-icon img{
    height: 35px;
    padding-bottom: 3px;
  }

  .notif-body h5{
    font-size: 16px;
    /* margin-left: 5px; */
  }

  .notif-body p{
    font-size: 20px;
    line-height: 30px;
  }

}

@media (max-width: 320px) {

  #user-info {
    padding: 0;
  }
  #user-info h3{
    font-size: 18px;
  }

  #user-info h5{
    font-size: 14px;
  }

  #user-info p {
    font-size: 11px;
    line-height: 12px;
  }

  #user-info a span {
    font-size: 13px;
  }

  #user-info a {
    font-size: 8px;
  }

  #user-info .btn-black {
    padding: 5px 30px;
  }

  #user-info a i{
    font-size: 18px;
    vertical-align: middle;
    margin: 0 0 5px 5px;
  }

  #post-left {
    padding: 0 5px 0 0;
  }

  #post-left img {
    width: 35px;
  }

  #post-rhymer h5 {
    font-size: 12px;
    margin: 0;
  }

  #post-rhymer h6 {
    font-size: 10px;
    margin: 0 0 5px 0;
  }

  #post-body p {
    padding-right: 5px;
    font-size: 13px;
  }

  .popup-overlay{
    width: 76%;
    left: 12%;
    height:45%;
  }

  /* f/f */
  .user-summary img {
    width: 60px;
    object-fit: contain;
    margin: 0;
  }

  #user-summary-center h5{
    font-size: 14px;
  }

  #user-summary-center h6{
    font-size: 10px;
  }

  #user-summary-center {
    padding: 8px 0 5px 0;
  }

  #user-summary-right{
    padding: 18px 0 5px 0;
  }

  #user-summary-right .btn-yellow{
    padding: 8px 15px;
    font-size: 10px;
  }

  /* notifications */
  /* notification */
  .notif-item{
    padding: 15px 0;
  }

  .notif-type i {
    font-size: 20px;
  }

  .notif-actor-icon img{
    height: 35px;
    padding-bottom: 5px;
  }

  .notif-body h5{
    font-size: 14px;
    /* margin-left: 5px; */
  }

  .notif-body p{
    font-size: 16px;
    line-height: 28px;
  }

}
