/* =====================================
  edit-user
======================================*/
#edit-user {
  padding: 25px 20px;
  border-radius: 4px;
  margin-bottom: 60px;
}

#edit-user form.form-control {
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 24px;
}

#edit-user form input.form-control{
  border: 1px solid #242423;
}

#edit-user form textarea.form-control {
  min-height: 164px;
  border: 1px solid #242423;
}

#edit-user img.preview  {
  max-width: 80px;
  object-fit: contain;
}

/* =====================================
  detail
======================================*/
/* Popup menu */
.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:fixed;
  background:#F2F2ED;
  border:1px solid #B4B8C5;
  width:50%;
  height:35%;
  left:25%;
  top: 20%;
  z-index: 2;
}

.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
 padding: 12px 15px;
}

.popup-content p {
  font-size: 14px;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}

/* Content */
#user-mypage {
  margin-bottom: 45px;
}

#user-info {
  margin: 0 auto;
}

#user-info img {
  width: 100px;
}

#user-info a {
  color: #242423;
  text-decoration: none;
}

#user-info a span {
  font-size: 20px;
}

#user-info .btn-yellow,
#user-summary-right .btn-yellow{
  color: #FFCF35;
  border: 1px solid #FFCF35;
}

#user-info .btn-yellow:hover, .btn-yellow:focus,
#user-summary-right .btn-yellow:hover, .btn-yellow:focus {
  color: #fff;
  background-color: #FFCF35;
  border: 1px solid #FFCF35;
}

#user-info .btn-black {
  color: #FFF;
  padding: 10px 46px;
}

#user-info .btn-black:hover{
  color: #242423;
  background-color: #fff;
  border: 1px solid #242423;
}

#user-info a i{
  font-size: 22px;
  vertical-align: middle;
  margin-left: 15px;
}

#posts .post {
  margin: 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #242423;
}

.post {
  margin: 8px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #B4B8C5;
}

.post-reaction a {
  color: #242423;
}

.post-reaction a:hover {
  color: #FFCF35;
}

#post-left {
  margin: 0;
}

#post-left img {
  width: 50px;
  padding-right: 5px;
}

#post-right,
#post-rhymer,
#post-body {
  padding: 0 0 0 5px;
}

#post-rhymer h5 {
  font-size: 18px;
  word-wrap: break-word;
}

#post-rhymer h6 {
  color: #B4B8C5;
  font-weight: 300;
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#post-body p {
  font-size: 15px;
  word-wrap: break-word;
}

/* =====================================
  follows/followers
======================================*/
#followers, #followees {
  margin-bottom: 45px;
}

.user-summary a {
  color: #242423;
  text-decoration: none;
}

.user-summary img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 5px;
}

.user-summary {
  margin: 15px 0;
  padding: 10px 20px 15px 20px;
  border-bottom: 1px solid #242423;
}

.user-summary h5 {
  font-size: 18px;
}

.user-summary h6 {
  font-size: 16px;
  font-family: "Open Sans", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#user-summary-center {
  padding: 20px 0 5px 0;
}

#user-summary-right{
  padding: 30px 0 5px 0;
}
